@import "bootstrap";


.container {-moz-border-radius: 21px;
-webkit-border-radius: 21px;
border-radius: 21px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 15px #000000;
-webkit-box-shadow: 0px 0px 15px #000000;

/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
 }
h1 {background-color: #333333;
color: white;
padding: 20px;
margin-left: -20px;
margin-right: -20px;}

#board {background-color: #f2f2f2;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;}
